*{
    font-family: 'Open Sans', sans-serif;
    margin:auto;
    text-align: center;
    padding:0;
    box-sizing: border-box;
}



.background{
    background-color:#2E2E2E;
    width:100%;
    height:100%;
}


.fadeIn{
    animation: fadeIn 1s 0s ease-in;
}

/**  HEADER  **/


header{
    background-color:#262626;
    min-height: 100px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(10, 10, 10, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(10, 10, 10, 0.75);
    box-shadow: 0px 5px 5px 0px rgba(10, 10, 10, 0.75);
}
/**  LOGO  **/

.logo{
    float: left;
    width:60px;
    transition: 0.75s ease-in-out;
}

.logo_hidden{
    float: left;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition:0.75s ease-in-out;
}

.logo_container{
    float: left;
    height: 75px;
    width: 45%;
    padding-top: 10px;
    padding-left: 50px;
}

.logo_container:hover .logo_hidden{
    float: left;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.logoMove{
    transform: translate(-120px);
}

.logo_container:hover .logoMove{
    transform: translate(0px);
}
/**  /LOGO  **/

/**  NAV  **/

.nav{   /* This class is for toggling the nav in mobile mode only***/
    display: none;
    transition: 0.3s;
}

nav{
    background-color: inherit;
}
nav .nav_active{
    background-color: white;
    color:#262626;
    font-size: 20px;
}
nav .nav_active:hover{
    background-color: rgb(230, 228, 228);
}

nav ul{
    min-height: 50px;
    width: 50%;
    margin: 0 auto;
    padding-top: 25px;
    padding-right: 50px;
    float:right;
    
}

nav ul a{
    text-decoration: none;
    width: 20%;
    border-right:  0.5px solid rgb(165, 165, 165);
    border-bottom:  0;
    min-height: inherit;
    -webkit-align-items: center; /* Safari 7.0+ */
    align-items: center;
    display: -webkit-flex; /* Safari */
    display: flex;
    float: left;
    min-height: inherit;
    color:white;
    background-color: #262626;
    transition: 0.2s ease;
}

nav ul a:first-of-type{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

nav ul a:last-of-type{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right:  0px;
}

nav ul a:hover{
    background-color: rgb(51, 51, 51);
    transform: scale(1.025);
    border:  1px solid rgb(165, 165, 165);
    font-size: 18px;
}

nav li{  
    list-style-type: none;
    text-align: center;
}
/**  /NAV  **/

/** Menu Toggle - Mobile **/

.menuBarsContainer {
    cursor: pointer;
    float: right;
    margin-top: 30px;
    margin-right: 50px;
    display:none;
  }
  
  .menuBar1, .menuBar2, .menuBar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .menuChange .menuBar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .menuChange .menuBar2 {opacity: 0;}
  
  .menuChange .menuBar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  
  /**  /HEADER  **/
  
  /**  GENERAL  **/

h1{
    margin: 20px auto;
    height: inherit;
    color: white;
    font-size: 3em;
}

p{
    color:white;
}
.container{
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 90%;
}

.tile{
    border-radius: 10px;
    background-color: white;
    transition: 0.25s ease-out;
    color: black;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-basis: 32%;
    min-height: 200px;
    text-overflow: ellipsis;
}
.tile p{
    color:black;
    text-overflow: ellipsis;
}
.tile h2{
    color:black;
    text-decoration-line: underline;
    transition: 0.3s ease-out;
    
}
.tile h2:hover{
    color: rgb(80, 111, 253);
}

#search_results{
    width: 80%;
}

.search_result{
    border-radius: 10px;
    background-color: white;
    transition: 0.25s ease-out;
    color: black;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    width: 80%;
    min-height: 200px;
    text-overflow: ellipsis;
    animation: resultsAnim 1s 0s ease-in-out;
    
}

.search_result p{
    color:black;
    text-overflow: ellipsis;
}
.search_result h2{
    color:black;
    text-decoration-line: underline;
    transition: 0.3s ease-out;
    
}
.search_result h2:hover{
    color: rgb(80, 111, 253);
}

.blackTile{
    background-color: black;
    border-radius: 0px;
}

.about{
    line-height: 2;
    margin: 40px;
    font-size: 1.25em;
}
  /**  /GENERAL  **/

  /**  ANIMATIONS  **/

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    65%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes resultsAnim{
    0%{
        transform: translateX(200%);
        opacity:0;
    }
    65%{
        opacity:0.45;
    }
    100%{
        transform: translateX(0);
        opacity:1;
    }
}
  /**  /ANIMATIONS  **/


  /**  MOBILE  **/

@media (max-width: 900px){

    .nav{
        opacity:0;
    }
    .logo_container{
        margin: 0 auto;
        width:60%;
        background-image: url("/_img/_logo/Logo_full_white.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left; 

        float: left;
        height: 75px;
        margin-top: 10px;
        margin-left: 50px;
    }
    .logo_hidden,.logoMove,.logo{
        clip-path: none;
        transform: translate(0px);
        display: none;
    }
    header{
        max-height: 10%;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
    }   
    nav ul{
        min-height: 50px;
        width: 100%;
        padding-right: 0px;
    }
    
    nav ul a{
        text-decoration: none;
        color:white;
        width: 100%;
        border-bottom:  0.5px solid rgb(165, 165, 165);
        display: flex;
        font-size: 20px;
        font-weight: bold;

        float: none;
        color: #262626;
        background-color: white;
        border-radius: 0px;
        transition: 0.1s;
    }

    nav .nav_active{
        background-color: #262626;
        color:white;
        font-size: 20px;
    }

    nav ul a:first-of-type{
        border-radius: 0px;
    }
    
    nav ul a:last-of-type{
        border-radius: 0px;
        border-right:  0px;
    }
    nav ul a:hover{
        background-color: rgb(165, 165, 165);
        border:  1px solid rgb(51, 51, 51);        
    }
    .menuBarsContainer {
    display: inline;
    }
    .fadeIn{
        animation: fadeIn 0.3s 0s ease-in;
    }
}

  /**  /MOBILE  **/
