html{
    --bg-color:#2E2E2E;
    --header-color:#262626;
    --text-color:white;
    --negative-text-color:black;
    --highlight-color:white;
    --nav-hover-color: rgb(230, 228, 228);
    --shadow: rgba(10, 10, 10, 0.75);
    --code: rgb(255, 230, 0);
    --link: rgb(194, 149, 3);
    --link-visited:  rgb(255, 123, 0);
}
html[data-theme='light']{
    --bg-color:rgb(245, 245, 245);
    --text-color:rgb(32, 32, 32);
    --negative-text-color:white;
    --highlight-color:rgb(36, 36, 36);
    --nav-hover-color: rgb(230, 228, 228);
    --shadow: rgba(78, 78, 78, 0.75);
    --code: rgb(255, 230, 0);
    --link: rgb(194, 149, 3);
    --link-visited:  rgb(255, 123, 0);
}

*{
    font-family: 'Open Sans', sans-serif;
    margin:auto;
    text-align: center;
    padding:0;
    box-sizing: border-box;
}


.background{
    background-color:var(--bg-color);
    width:100%;
    height:100%;
}


.fadeIn{
    animation: fadeIn 1s 0s ease-in;
}

/**  HEADER  **/


header{
    background-color:var(--header-color);
    min-height: 100px;
    min-width: 100%;
    -webkit-box-shadow: 0px 5px 5px 0px var(--shadow);
    -moz-box-shadow: 0px 5px 5px 0px var(--shadow);
    box-shadow: 0px 5px 5px 0px var(--shadow);
}
/**  LOGO  **/

.logo{
    float: left;
    width:60px;
    transition: 0.75s ease-in-out;
}

.logo_hidden{
    float: left;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition:0.75s ease-in-out;
}

.logo_container{
    float: left;
    height: 75px;
    width: 45%;
    padding-top: 10px;
    padding-left: 50px;
}

.logo_container:hover .logo_hidden{
    float: left;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.logoMove{
    transform: translate(-120px);
}

.logo_container:hover .logoMove{
    transform: translate(0px);
}
/**  /LOGO  **/

/**  NAV  **/

.nav{   /* This class is for toggling the nav in mobile mode only***/
    display: none;
    transition: 0.3s;
}

nav{
    background-color: inherit;
}
nav .nav_active{
    background-color:var(--highlight-color);
    color:var(--header-color);
    font-size: 20px;
}
nav .nav_active:hover{
    background-color: rgb(230, 228, 228);
}

nav ul{
    min-height: 50px;
    width: 40%;
    margin: 0 auto;
    padding-top: 25px;
    padding-right: 50px;
    float:right;
    
}

nav ul a{
    text-decoration: none;
    width: 25%;
    border-right:  0.5px solid rgb(165, 165, 165);
    border-bottom:  0;
    min-height: inherit;
    -webkit-align-items: center; /* Safari 7.0+ */
    align-items: center;
    display: -webkit-flex; /* Safari */
    display: flex;
    float: left;
    min-height: inherit;
    color:var(--text-color);
    background-color: var(--header-color);
    transition: 0.2s ease;
}

nav ul a:first-of-type{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

nav ul a:last-of-type{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right:  0px;
}

nav ul a:hover{
    background-color: rgb(51, 51, 51);
    transform: scale(1.025);
    border:  1px solid rgb(165, 165, 165);
    font-size: 18px;
}

nav li{  
    list-style-type: none;
    text-align: center;
}
/**  /NAV  **/

/** Menu Toggle - Mobile **/

.menuBarsContainer {
    cursor: pointer;
    float: right;
    margin-top: 30px;
    margin-right: 50px;
    display:none;
  }
  
  .menuBar1, .menuBar2, .menuBar3 {
    width: 35px;
    height: 5px;
    background-color: var(--highlight-color);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .menuChange .menuBar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .menuChange .menuBar2 {opacity: 0;}
  
  .menuChange .menuBar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  
  /**  /HEADER  **/
  
  /**  GENERAL  **/

h1{
    margin-top: 20px;
    margin-bottom: 5px;
    height: inherit;
    color: var(--text-color);
    font-size: 3em;
    text-align: center;
}

h2{
    text-align: center;
    padding-left: 10px;
    color:var(--text-color);

}
h4{
    text-align: left;
    color: var(--text-color);
    margin-bottom: 5px;
    font-weight: 100;
    padding-bottom: 5px;
}
h3{
    text-align: left;
    color:var(--bg-color);
    width: 70%;
}

p{
    color:var(--text-color);
    width: 70%;
    padding-bottom: 10px;
    text-align: left;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal; 
    overflow: hidden;
}

.btn{
    font-family: inherit;
    font-size: 15px;
    color: var(--bg-color);
    background-color:var(--highlight-color);
    width: 175px;
    height: 30px;
}
.center_text p{
    text-align: center;

}
.container{
    margin: 0 auto;
    padding: 0;
    text-align: center;    
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}
.content{
    margin: 0 auto;
    padding: 0;
    width: 70%;
}

.content img{
    width: 30%;
    padding: 15px 0 15px 0;
}

.content h3{
    color:var(--text-color);
    text-align: left;
    width: auto;
    padding: 20px 0 20px 0;
}

.content .fullWidthImg{
    width: 100%;
}
.content .halfWidthImg{
    width: 50%;
    margin: 0 auto;
}

.rounded{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.158);
}
.content a{
    color: var(--link);
}
.content a:visited{
    color: var(--link-visited);
}

.content code{
    color: var(--code);
    font-style: italic
}
.content p{
    width: 100%;
}
.content h1{
    text-align:left;
}
.content ol{
    color:var(--text-color);
    padding-left: 4%;
}

.tile{
    border-radius: 10px;
    background-color: var(--highlight-color);
    transition: 0.25s ease-out;
    color: var(--negative-text-color);
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-basis: 31%;
    min-height: 200px;
    text-overflow: ellipsis;
    /*display:flex;*/
}
.tile p{
    color:var(--negative-text-color);
    width: 90%;

}
.tile h3{
    color:var(--bg-color);
    text-decoration-line: underline;
    transition: 0.3s ease-out;
    width: 90%;
    
}
.tileText{
    /*flex-basis: 50%;*/
    height: 90%;
    padding:10px;
}
.tile img{    
    /*flex-basis: 50%;*/
    padding: 10px;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 20px;
    height:200px;
    cursor: pointer;
}
.tile h3:hover{
    color: rgb(80, 111, 253);
}


.searchBtn{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    transform: translate(-40px, 9px);
    cursor: pointer;
    width: 36px;
    height: 30px;
}

#search_input{
    border-radius: 10px;
    border:none; 
    background-color: whitesmoke;
    width: 500px;
    height: 30px;
    text-align: left;
    padding-left: 10px;
    padding-right: 36px;
    background-image: url("/_img/search.svg");
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-size: 18px;
    margin: 10px;
}
.searchBtn:focus{
    outline:none;
}
#search_input:focus{
    outline:none;
}

#search_results{
    width: 80%;
}

.search_result{
    text-overflow: ellipsis;
    animation: resultsAnim 1s 0s ease-in-out;
    
}

.search_wait{
    transform: translateX(200%);
}

.search_result p{
    color:var(--negative-text-color);
    text-overflow: ellipsis;
}
.search_result h2{
    color:var(--negative-text-color);
    text-decoration-line: underline;
    transition: 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    
}
.search_result h2:hover{
    color: rgb(80, 111, 253);
}

.content .picList{
    display: flex;
    margin: 0;

}
.content .picList img{
    align-self: flex-start;
    height: 100%;
}
.content .picList .picListText{
    flex-basis: 70%;
    padding: 10px;
}
.content .picColumn{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-self: flex-start;

}
.content .picColumn img{
    width: 100%;
}

.blackTile{
    background-color: var(--negative-text-color);
    border-radius: 0px;
}

.about{
    line-height: 2;
    margin: 40px;
    font-size: 1.25em;
}

footer a{
    text-decoration: none;
    color: var(--text-color);
    margin: 25px auto;
    padding-left:  10%;
    padding-right: 10%;
    padding-bottom: 25px;
}
.line{
    width: 70%;
    min-height: 2px;
    margin: 20px auto;
    background: rgba(255,255,255,0);
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(51%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,0) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,0) 100%);
background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,0) 100%);

}

  /**  /GENERAL  **/

  /**  ANIMATIONS  **/

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    65%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes resultsAnim{
    0%{
        transform: translateX(200%);
        opacity:0;
    }
    65%{
        opacity:0.45;
    }
    100%{
        transform: translateX(0);
        opacity:1;
    }
}
  /**  /ANIMATIONS  **/


  /**  MOBILE  **/

@media (max-width: 1260px){
    .tile{
        flex-basis: 48%;
    }
}
@media (max-width: 900px){

    .nav{
        opacity:0;
    }
    .logo_container{
        margin: 0 auto;
        width:60%;
        background-image: url("/_img/_logo/Logo_full_white.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left; 

        float: left;
        height: 75px;
        margin-top: 10px;
        margin-left: 50px;
    }
    .logo_hidden,.logoMove,.logo{
        clip-path: none;
        transform: translate(0px);
        display: none;
    }
    header{
        max-height: 10%;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }   
    nav ul{
        min-height: 50px;
        width: 100%;
        padding-right: 0px;
    }
    
    nav ul a{
        text-decoration: none;
        color:var(--text-color);
        width: 100%;
        border-bottom:  0.5px solid rgb(165, 165, 165);
        display: flex;
        font-size: 20px;
        font-weight: bold;

        float: none;
        color: var(--header-color);
        background-color: var(--highlight-color);
        border-radius: 0px;
        transition: 0.1s;
    }

    nav .nav_active{
        background-color: var(--header-color);
        color:var(--text-color);
        font-size: 20px;
    }

    nav ul a:first-of-type{
        border-radius: 0px;
    }
    
    nav ul a:last-of-type{
        border-radius: 0px;
        border-right:  0px;
    }
    nav ul a:hover{
        background-color: rgb(165, 165, 165);
        border:  1px solid rgb(51, 51, 51);        
    }
    .menuBarsContainer {
    display: inline;
    }
    .fadeIn{
        animation: fadeIn 0.3s 0s ease-in;
    }

    p{
        width: 90%;
    }

    .tile{
        flex-basis: 100%;
    }
    .content{
        width: 90%;
    }
    .content .picList {
        display:block;
    }
    .content .picList img{
        width: 90%;
    }
    .halfWidthImg{
        width: auto;
        height: 50%;
    }
    #search_input{
    width:85%;
    }
}
@media (max-width: 400px){
    .logo_container{
    margin-left: 10px;
    }
    .menuBarsContainer {
    margin-right: 10px;
    }
  }
  /**  /MOBILE  **/
